.kanban-board {
    display: flex;
    flex-direction: space-between;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: rgb(23, 23, 89);
    border: 2px solid blueviolet;
    border-radius: 25px;
    color: white;
  }
  
  .ticket {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 2px solid blueviolet;
    border-radius: 10px;
    text-align: left;
    color: initial;
  }
  
  .ticket h4 {
    margin: 0;
  }
  
  .select-container {
    margin-top: 20px;
  }
  
  .select-container select {
    margin-right: 10px;
  }
  .display{
    font-size: 40px;
  }
  .display select{
    font-size: 40px;
    color: white;
    background-color: rgb(6, 6, 49);
    border: 2px solid blue;
    border-radius: 30px;
    padding: 15px;
  }
  strong{
    font-size: 40px;
    background-color: blue;
    color: white;
    margin: 10px;
    border: 2px solid blue;
    border-radius: 30px;
    padding: 15px;
  }
  @media only screen and (orientation: portrait) {
    .kanban-board {
      display: flex;
      flex-direction: column;
    }
    strong,select option{
      display: flex;
      flex-direction: column;
    }
  }